@use '../utils' as *;

/*----------------------------------------*/
/*  04. BANNER CSS START
/*----------------------------------------*/


.banner {
    background-image: linear-gradient(to right top, #02a7da, #00a7cd, #00a6bf, #00a4af, #00a29e, #00a294, #00a288, #16a27b, #1ca571, #28a865, #37aa58, #46ac48);
   padding: 6.5rem 1.25rem 3rem;position: relative; overflow: hidden;
   @media #{$xs}{
    padding: 6.5rem 0.25rem 3rem;
   }
   .row{
        align-items: center;
    h1{
        color: var(--tp-common-white); margin-bottom: 1rem; font-size: var(--tp-fz-h1);font-weight: var(--tp-fw-black);
        @media #{$md}{
          font-size: var(--tp-fz-h2);
        }
        @media #{$xs}{
          font-size: var(--tp-fz-h2);
        }
       }
    h2{
    color: var(--tp-common-white); margin-bottom: 0.5rem;font-size: calc(var(--tp-fz-h2) - 10px); font-weight: var(--tp-fw-sbold);
    margin-bottom: 15px;
    @media #{$md}{
      font-size: var(--tp-fz-h3);
    }
    @media #{$xs}{
      font-size: var(--tp-fz-h3);
    }
    }
    p{
        a{
            color: var(--tp-text-3);font-size: var(--tp-fz-a); margin-right:10px;position: relative;  z-index: 1;
            @media #{$xs}{
              font-size: 13px;margin-right:5px;
            }
        }
    }
    .lets-talk{
        background-color: transparent;
        border:1px solid  var(--tp-common-white);
        color: var(--tp-common-white);
        font-size: var(--tp-fz-a);
        border-radius: 4px;
        padding: calc(.5em - 1px) 1em;
        height: 2.5em;
        display: inline-block;
        line-height: 1.4;
        transition: all 0.5s;
        margin-top: 15px;
        position: relative;
        z-index: 9;
  &:hover{
    background-image: linear-gradient(to right bottom, #00a6bf, #00a6b6, #00a6aa, #00a59e, #00a490, #00a587, #0aa57c, #1ca571, #25a768, #2fa95f, #3aab54, #46ac48);
  }
    }
    @media #{$xs}{
      .banner-left{
        order: 2;
      }
    }
    @media #{$xs}{
      .banner-right{
        order: 1;
      }
    }
   }
   .circle-banner-top{
    margin-right: -5rem;
  margin-top: -5rem;    
  right: 0;
  top: 0;
  height: 20rem;
  width: 20rem;
  background-color: hsla(0,0%,100%,.07);
  border-radius: 100%;
  display: block;
  position: absolute;
  z-index: 0;
   }
   .circle-banner-bottom{
    margin-left: -5rem;
    margin-bottom: -5rem;    
    left: 0;
    bottom: 0;
    height: 20rem;
    width: 20rem;
    background-color: hsla(0,0%,100%,.07);
    border-radius: 100%;
    display: block;
    position: absolute;
    z-index: 0;
   }
}  

