@use "../utils" as *;

.blog-insight-outer {
  background: #f1f1f2;
  padding: 3rem 0rem 4rem;
  display: block;
  overflow: hidden;
  position: relative;
  .bloginsight-content{
    h2{
      font-size: var(--tp-fz-h2);
      font-weight: var(--tp-fw-bold);
      @media #{$md}{
        font-size: var(--tp-fz-h6);
      }
      @media #{$xs}{
        font-size: var(--tp-fz-h6);
      }
    }
    p{
      font-size: calc(var(--tp-fz-h4) - 2px );
      color: #6d6685;
      font-weight: var(--tp-fw-light);
    }
  }
  .bloginsight-inner {
    display: flex;
    padding: 1rem 0rem 2rem 0rem;
    margin-top: 30px;
    @media #{$md , $xs}{
      flex-wrap: wrap;
    }
    .bloginsight {
      padding: 0px 18px 0px 0px;
      position: relative;
      @media #{$md , $xs}{
        width: 100%; margin-bottom:65px;
        span{
          width:100% !important;
          img{
            width: 100% !important;
          }
        }
      }
      .blog-insight-text-bx {
        width: 90%;
        background: #fff;
        border: 1px solid #eaeaea;
        padding: 15px;
        position: absolute;
        bottom: -30px;
        left: 20px;
        z-index: 1;
        h5 {
          font-size: var(--tp-fz-h5);
          line-height: 24px;
          letter-spacing: 0.4px;
          font-weight: var(--tp-fw-medium);
        }
      }
    }
  }
  @media #{$md , $xs}{
    padding: 3rem 0rem 0rem; 
  }
}