@use "../utils" as *;

.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 33;
  width: 100%;
  padding-top: 2.875rem;
  ;

  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      display: flex;
      align-items: center;

      & ul {
        padding: 0;
        margin: 0;

        &>li {
          display: inline-block;
          position: relative;
          padding: .7rem 1.125rem;

          @media #{$xl2} {

            display: block;
          }

          &>a {
            color: var(--tp-common-white);
            display: block;

            font-size: var(--tp-fz-p);
            font-family: var(--tp-ff-body);
            text-transform: uppercase;
            text-decoration: none;

            &:hover,
            &.active {
              color: var(--tp-theme-pink);
            }

            @media #{$xl2} {

              color: #000;
            }


          }

        }

        li.submenu {
          &>a {
            padding-right: 10px;
            position: relative;

            &::after {
              content: "\f0d7";
              font-family: "Font Awesome 6 Free";
              color: var(--tp-common-white);
              font-size: var(--tp-fz-p);
              font-weight: var(--tp-fw-black);
              margin-left: 5px;
            }
          }
        }

        @media #{$xl2} {
          margin: 0;
        }
      }
    }

    .phone-no {
      a {
        @include btn-perposel;
      }
    }
  }
}

.header.is-sticky {
  background: linear-gradient(215deg, #420049 0.01%, #001272 96.4%);
  padding: 0.875rem 0rem;
  animation: slideDown 0.35s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}