@use "../utils" as *;

.case-studay-outer {
    padding: 3rem 0;
    background: linear-gradient(to left bottom, #fffcff, #fbfaff, #effbff, #e0fdff, #d5fefd);
    position: relative;

    .case-studay-main {
        h2 {
            color: var(--tp-heading-primary);
            margin-bottom: 0.5rem;
            font-size: var(--tp-fz-h2);
            font-weight: var(--tp-fw-bold);
            margin-bottom: 30px;

            @media #{$xs} {
                font-size: var(--tp-fz-h3);
            }
        }

        .case-study-one {
            .slick-list {
                padding: 0 !important;
            }

            .slick-slide {
                &>div {
                    background-color: var(--tp-common-white);
                    margin: 8px 15px;
                    text-align: center;
                    padding: 10px 8px;
                    // border:1px solid #e1e1e1; 
                    box-shadow: 0px 0 9px 0 rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    position: relative;

                    &::after {
                        position: absolute;
                        width: 0px;
                        height: 3px;
                        background: #00a28b;
                        content: '';
                        left: 0;
                        bottom: 0;
                        transition: all 0.5s;
                    }
                }
            }

            .slick-slide.slick-center.slick-current {
                &>div {
                    border-radius: 10px 10px 0px 0px;

                    &::after {
                        width: 100%;
                    }
                }
            }
            @media #{$xs} {
                .slick-arrow {
                    border: 1px solid #000; width: 35px; height: 35px; border-radius: 100%; z-index: 9;
                    background: #fff;
                    &:hover{
                        border: 1px solid #1ca571;
                        background: linear-gradient(to right top, #02a7da, #00a7cd, #00a6bf, #00a4af, #00a29e, #00a294, #00a288, #16a27b, #1ca571, #28a865, #37aa58, #46ac48);
                        &::before{
                            color: #fff !important;
                        }
                    }
                }
                .slick-prev{
                    left: 0;
                    &::before{
                        color: #000;
                        content: "\f104";
                        font-family: "Font Awesome 6 Pro";
                    }
                }
                .slick-next{
                    right: 0;
                    &::before{
                        color: #000;
                        content: "\f105";
                        font-family: "Font Awesome 6 Pro";
                    }
                }
            }
        }


        .case-study-two{ padding: 40px 0px 30px;
            .case-slide{
                display: flex !important; overflow: hidden; padding: 20px; 
                .case-slide-bx-left{
                   width: 33.33%; position: relative;margin-left: -27px; min-width: 380px;padding-right:30px;
                    h3{
                        display: flex; align-items: center; position: absolute; top:0;

                    }

                    ul {
                        padding-left: 28px;
                        position: relative;
                        margin-top: 67px;

                        &::after {
                            border-left: 2px solid #8bc6f4;
                            content: " ";
                            height: 100%;
                            left: 28px;
                            position: absolute;
                            top: -12px;
                            width: 1px;
                        }

                        li {
                            padding-left: 32px;
                            margin-bottom: 20px;
                            position: relative;

                            a {
                                text-transform: lowercase !important;
                            }

                            &::after {
                                border-bottom: 2px dotted #8bc6f4;
                                content: " ";
                                position: absolute;
                                left: 0;
                                top: 14px;
                                transition: all .5s ease;
                                width: 29px;
                            }
                        }
                    }
                }

                .case-slide-bx-right {
                    border-radius: 18px;
                    box-shadow: 0 1px 16px 0 #e0fdff, 0 0 0 1px rgb(247, 250, 255);
                    padding: 10px;
                    background: #fff;
                }
                @media #{$xs} {
                    flex-wrap: wrap;
                    .case-slide-bx-left{
                        width: 100%;
                    }
                    .case-slide-bx-right{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.development-services-outer {
    background: linear-gradient(to left bottom, #fffcff, #fbfaff, #effbff, #e0fdff, #d5fefd);
    padding: 50px 0px;
    position: relative;

    .head {
        text-align: center;

        h2 {
            color: var(--tp-heading-primary);
            margin-bottom: 0.5rem;
            font-size: var(--tp-fz-h2);
            font-weight: var(--tp-fw-bold);
            margin-bottom: 10px;

            @media #{$md} {
                font-size: var(--tp-fz-h2);
            }

            @media #{$xs} {
                font-size: var(--tp-fz-h6);
            }
        }

        p {
            text-align: center;
            color: #6d6685;
            font-weight: var(--tp-fw-regular);
            margin-bottom: 40px;
        }
    }

    @media #{$xl2} {
        .devlopemnt-services-main {
            .row {
                max-width: 700px;
                margin: 0 auto;

                @media #{$xs} {
                    max-width: 400px;
                }
            }
        }
    }

    .services-devlopment-bx-left {
        padding-right: 75px;
        position: relative;
        width: 50%;
        padding-left: 35px;

        @media #{$xl2} {
            width: 100%;
            padding-right: 0px;
            padding-left: 20px;
        }

        .services-devlopemnt {
            .figure-img {
                min-height: 213px;
            }

            h5 {
                text-align: center;
                margin-bottom: 40px;
                line-height: 50px;
            }

            h6 {
                margin: 73px 0 25px;
                text-align: center;
            }

            .border-1 {
                height: 150px;
                left: 60px;
                top: 24px;
                width: 165px;
                border: 2px dashed #a0b1c6;
                border-radius: 25px;
                max-width: 100%;
                position: absolute;
                border-right: none;
                border-top-right-radius: 0;

                .arrow-1 {
                    left: -15px;
                    top: 60px;
                }
            }

            .border-2 {
                border: 2px dashed #a0b1c6;
                border-radius: 25px;
                max-width: 100%;
                position: absolute;
                border-bottom-left-radius: 0;
                border-left: none;
                height: 210px;
                right: 100px;
                top: 178px;
                width: 165px;

                .arrow-2 {
                    right: -15px;
                    top: 100px;
                }

                @media #{$bxxl} {
                    width: 100px;
                }

                @media #{$lg} {
                    width: 100px;
                }

                @media #{$xl2} {
                    width: 65px;
                }
            }

            .has-arrow {
                font-size: 20px;
                height: 30px;
                padding: 3px;
                position: absolute;
                width: 30px;
            }
        }

        .services-devlopemnt-box2 {
            display: flex;
            justify-content: space-between;

            .service-main {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .is-relative {
                width: 41.66667%;

                h6 {
                    text-align: center;
                }

                .services-listing-dv {
                    position: relative;

                    .services-dv-bx {
                        border-color: #abc4fc #85c0f3 #abc4fc #c3c1fe;
                        border-style: solid;
                        border-width: 1px;
                        overflow: visible;
                        position: relative;
                        border-radius: 10px;
                        box-shadow: 0 .3em .3em -.3em hsla(0, 0%, 4%, .1), 0 0 0 .1rem hsla(0, 0%, 4%, .08);
                        margin-bottom: 20px;
                        position: relative;

                        ul {
                            li {
                                position: relative;

                                a {
                                    align-items: center;
                                    background-color: #dfeffc;
                                    border-bottom: 1px solid #d8d9fb;
                                    border-top: 1px solid #fafcfe;
                                    color: #2e6ad6;
                                    display: flex;
                                    padding: 12px 12px 12px 30px;
                                    transition: all .5s ease;
                                    display: block;

                                    @media #{$xs} {
                                        font-size: 13px;
                                    }

                                    span.servic-ico {
                                        height: 25px !important;
                                        width: 25px !important;
                                        margin-right: 15px !important;
                                        display: inline-block;
                                        float: left;
                                        min-width: 25px;

                                    }

                                    img {

                                        -o-object-fit: contain;
                                        object-fit: contain;

                                    }

                                    &:hover {
                                        background: #f8fcff;
                                    }

                                    @media #{$xl2} {
                                        display: flex;
                                        padding: 12px 12px 12px 10px;

                                        span.servic-ico {
                                            min-width: 25px;

                                            @media #{$xs} {
                                                min-width: 15px;
                                                width: 15px !important;
                                                margin-right: 10px !important;
                                            }
                                        }

                                    }
                                }

                                &:first-child {
                                    a {
                                        border-top: none;
                                        border-top-left-radius: 10px;
                                        border-top-right-radius: 10px;
                                    }
                                }

                                &:last-child {
                                    a {
                                        border-bottom: none;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;
                                    }
                                }

                                .tooltip-content {
                                    display: none;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 175px;
                                    z-index: 50;
                                    left: calc(100% + 8px);

                                    .card {
                                        background-color: #00a294;
                                        border-radius: 4px !important;
                                        box-shadow: none !important;
                                        position: relative;

                                        .card-content {
                                            padding: .35rem .75rem;

                                            p {
                                                color: #fff;
                                                font-size: .85rem;
                                                line-height: 1.1rem;
                                                white-space: pre-wrap;
                                            }
                                        }

                                        &::after {
                                            border-bottom: 5px solid #00a294;
                                            border-left: 5px solid transparent;
                                            border-right: 5px solid transparent;
                                            content: "";
                                            height: 5px;
                                            position: absolute;
                                            top: 50%;
                                            white-space: pre-wrap;
                                            width: 5px;
                                            z-index: 50;
                                            right: calc(100% - 3px);
                                            transform: translateY(-50%) rotate(270deg);
                                        }
                                    }
                                }

                                &:hover {
                                    .tooltip-content {
                                        display: block;
                                    }

                                }
                            }
                        }

                        &::after {
                            border-left: 2px dashed #a0b1c6;
                            bottom: -90px;
                            content: " ";
                            height: 90px;
                            left: 50%;
                            position: absolute;
                            transform: translateX(-50%);
                            width: 2px;
                            // z-index: -1;
                        }
                    }

                    .has-text-vertical {
                        color: #02a7da;
                        font-weight: 600;
                        left: -25px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%) rotate(180deg);
                        writing-mode: vertical-rl;
                    }

                    &:last-child {
                        .services-dv-bx {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }

                @media #{$xl2} {
                    width: 48%;

                    &:nth-child(2) {
                        .services-listing-dv {
                            .services-dv-bx {
                                ul {
                                    li {
                                        .tooltip-content {
                                            right: calc(100% + 8px);
                                            left: unset;

                                            .card {
                                                &::after {
                                                    left: calc(100% - 3px);
                                                    transform: translateY(-50%) rotate(90deg);
                                                    right: unset;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }

        }
    }

    .services-devlopment-bx-right {
        padding-left: 75px;
        position: relative;
        width: 50%;
        padding-right: 35px;

        @media #{$xl2} {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        .services-devlopemnt {
            .figure-img {
                min-height: 213px;
            }

            h5 {
                text-align: center;
                margin-bottom: 40px;
                line-height: 50px;
            }

            h6 {
                margin: 73px 0 25px;
                text-align: center;
            }

            .border-1 {
                height: 150px;
                left: 60px;
                top: 24px;
                width: 165px;
                border: 2px dashed #a0b1c6;
                border-radius: 25px;
                max-width: 100%;
                position: absolute;
                border-right: none;
                border-top-right-radius: 0;

                .arrow-1 {
                    left: -15px;
                    top: 60px;
                }
            }

            .border-2 {
                border: 2px dashed #a0b1c6;
                border-radius: 25px;
                max-width: 100%;
                position: absolute;
                border-bottom-left-radius: 0;
                border-left: none;
                height: 210px;
                right: 100px;
                top: 178px;
                width: 165px;

                .arrow-2 {
                    right: -15px;
                    top: 100px;
                }

                @media #{$bxxl} {
                    width: 100px;
                }

                @media #{$lg} {
                    width: 100px;
                }

                @media #{$xl2} {
                    width: 65px;
                }
            }

            .has-arrow {
                font-size: 20px;
                height: 30px;
                padding: 3px;
                position: absolute;
                width: 30px;
            }
        }

        .services-devlopemnt-box2 {
            display: flex;
            justify-content: space-between;
            position: relative;

            .service-main {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .is-relative {
                width: 41.66667%;

                @media #{$xl2} {
                    width: 48%;
                }

                h6 {
                    text-align: center;
                }

                .services-listing-dv {
                    position: relative;

                    .services-dv-bx {
                        border-color: #abc4fc #85c0f3 #abc4fc #c3c1fe;
                        border-style: solid;
                        border-width: 1px;
                        overflow: visible;
                        position: relative;
                        border-radius: 10px;
                        box-shadow: 0 .3em .3em -.3em hsla(0, 0%, 4%, .1), 0 0 0 .1rem hsla(0, 0%, 4%, .08);
                        margin-bottom: 20px;
                        position: relative;

                        ul {
                            li {
                                position: relative;

                                a {
                                    align-items: center;
                                    background-color: #dfeffc;
                                    border-bottom: 1px solid #d8d9fb;
                                    border-top: 1px solid #fafcfe;
                                    color: #2e6ad6;
                                    display: flex;
                                    padding: 12px 12px 12px 30px;
                                    transition: all .5s ease;
                                    display: flex;

                                    @media #{$xs} {
                                        font-size: 13px;
                                    }

                                    span.servic-ico {
                                        height: 25px !important;
                                        width: 25px !important;
                                        margin-right: 15px !important;
                                        display: inline-block;
                                        float: left;
                                        min-width: 25px;

                                    }

                                    img {

                                        -o-object-fit: contain;
                                        object-fit: contain;

                                    }

                                    &:hover {
                                        background: #f8fcff;
                                    }

                                    @media #{$xl2} {
                                        display: flex;
                                        padding: 12px 12px 12px 10px;

                                        span.servic-ico {
                                            min-width: 25px;

                                            @media #{$xs} {
                                                min-width: 15px;
                                                width: 15px !important;
                                                margin-right: 10px !important;
                                            }
                                        }

                                    }
                                }

                                &:first-child {
                                    a {
                                        border-top: none;
                                        border-top-left-radius: 10px;
                                        border-top-right-radius: 10px;
                                    }
                                }

                                &:last-child {
                                    a {
                                        border-bottom: none;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;
                                    }
                                }

                                .tooltip-content {
                                    display: none;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 175px;
                                    z-index: 50;
                                    left: calc(100% + 8px);

                                    .card {
                                        background-color: #00a294;
                                        border-radius: 4px !important;
                                        box-shadow: none !important;
                                        position: relative;

                                        .card-content {
                                            padding: .35rem .75rem;

                                            p {
                                                color: #fff;
                                                font-size: .85rem;
                                                line-height: 1.1rem;
                                                white-space: pre-wrap;
                                            }
                                        }

                                        &::after {
                                            border-bottom: 5px solid #00a294;
                                            border-left: 5px solid transparent;
                                            border-right: 5px solid transparent;
                                            content: "";
                                            height: 5px;
                                            position: absolute;
                                            top: 50%;
                                            white-space: pre-wrap;
                                            width: 5px;
                                            z-index: 50;
                                            right: calc(100% - 3px);
                                            transform: translateY(-50%) rotate(270deg);
                                        }
                                    }
                                }

                                &:hover {
                                    .tooltip-content {
                                        display: block;
                                    }

                                }

                            }
                        }

                        &::after {
                            border-left: 2px dashed #a0b1c6;
                            bottom: -90px;
                            content: " ";
                            height: 90px;
                            left: 50%;
                            position: absolute;
                            transform: translateX(-50%);
                            width: 2px;
                            // z-index: -1;
                        }
                    }

                    .has-text-vertical {
                        color: #89c1f9;
                        font-weight: 600;
                        left: -25px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%) rotate(180deg);
                        writing-mode: vertical-rl;
                    }

                    &:last-child {
                        .services-dv-bx {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    .services-listing-dv {
                        .services-dv-bx {
                            ul {
                                li {
                                    .tooltip-content {
                                        right: calc(100% + 8px);
                                        left: unset;

                                        .card {
                                            &::after {
                                                left: calc(100% - 3px);
                                                transform: translateY(-50%) rotate(90deg);
                                                right: unset;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .border-6 {
                border: 2px dashed #a0b1c6;
                border-top-width: 2px;
                border-top-style: dashed;
                border-top-color: rgb(160, 177, 198);
                border-radius: 25px;
                border-top-left-radius: 25px;
                max-width: 100%;
                position: absolute;
                border-top: none;
                border-top-left-radius: 0;
                height: 120px;
                left: 50%;
                max-width: 50%;
                top: 74px;
                transform: translateX(-50%);
                width: 286px;

                &::after {
                    border-left: 2px dashed #a0b1c6;
                    bottom: -136px;
                    content: " ";
                    height: 130px;
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%);
                    width: 10px;
                }
            }
        }

        .services-devlopemnt-box3 {
            justify-content: center;
            margin-top: 181px;

            .is-relative {
                @media #{$xs} {
                    width: 48%;
                }

                .services-listing-dv {
                    .services-dv-bx {
                        ul {
                            li {
                                a {
                                    .servic-ico {
                                        @media #{$xs} {
                                            min-width: 15px;
                                            width: 15px !important;
                                            margin-right: 10px !important;
                                        }
                                    }
                                }

                                .tooltip-content {
                                    right: calc(100% + 8px);
                                    left: unset;

                                    .card {
                                        &::after {
                                            left: calc(100% - 3px);
                                            transform: translateY(-50%) rotate(90deg);
                                            right: unset;

                                            @media #{$xs} {
                                                left: 0;
                                                transform: translateY(0%) rotate(180deg);
                                                right: 0;
                                                top: unset;
                                                margin: 0 auto;
                                                bottom: -5px;
                                            }
                                        }
                                    }

                                    @media #{$xs} {
                                        right: 0;
                                        left: 0;
                                        top: unset;
                                        bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.testimonial-outer {
    background: linear-gradient(to right top, #d5fefd, #e0fdff, #effbff, #fbfaff, #fffcff);
    position: relative;
    overflow: hidden;
    padding: 3rem 0rem 4rem;
    z-index: 1;

    .awards-inner {
        .head {
            text-align: center;

            h2 {
                color: var(--tp-heading-primary);
                margin-bottom: 0.5rem;
                font-size: var(--tp-fz-h2);
                font-weight: var(--tp-fw-bold);
                margin-bottom: 10px;

                @media #{$md} {
                    font-size: var(--tp-fz-h2);
                }

                @media #{$xs} {
                    font-size: var(--tp-fz-h6);
                }
            }

            p {
                text-align: center;
                color: #6d6685;
                font-weight: var(--tp-fw-regular);
                margin-bottom: 40px;
            }
        }
    }


    .testimonial-slide {
        position: relative;
        box-shadow: 0 0 25px 3px rgba(0, 0, 0, .04);
        margin-bottom: 45px;
        background-color: #fff;
        position: relative;
        padding: 60px 26px 60px 250px !important;
        border-radius: 5px;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            border-radius: 5px;
            bottom: -15px;
            background-color: #fff;
            box-shadow: 0 15px 10px -15px rgba(0, 0, 0, .04);
            z-index: -1;
            margin-left: 30px;
            margin-right: 30px;
        }

        .testimonial-content {
            position: absolute;
            left: 36px;
            top: 46%;
            width: 197px;
            transform: translateY(-50%);
            text-align: center;

            img {
                border-radius: 5px !important;
                border: 2px solid #f4f5fe !important;
                width: 80px !important;
                height: 80px !important;
                padding: 5px !important;
                display: inline-block !important;

                @media #{$xs} {
                    width: 150px !important;
                    height: 150px !important;
                }
            }

            h3 {
                margin-bottom: 0;
                margin-top: 10px;
                font-size: var(--tp-fz-a);

                @media #{$xs} {
                    font-size: var(--tp-fz-h4);
                }
            }

            span {
                display: block;
                color: #c679e3;
                margin-top: 5px;
                font-size: 13px;

                &:last-child {
                    margin-top: 0;
                }

                @media #{$xs} {
                    font-size: var(--tp-fz-h5);
                }
            }

            @media #{$xs} {
                position: relative;
                left: 0;
                top: 0;
                width: 100%;
                transform: unset;
                text-align: center;
                margin-bottom: 15px;
            }
        }

        .rating svg {
            color: #ff612f;
            width: 18px;
            margin-right: 2px;
        }

        @media #{$xs} {
            text-align: center;
            padding: 20px !important;
        }
    }

    .slick-dots {
        li {

            button {

                color: #44ce6f;
                font-size: 12px;

                &::before {
                    opacity: 1;
                    color: #d6d6d6;
                    font-size: 12px;
                }
            }
        }

        .slick-active {
            button {
                &::before {
                    color: #44ce6f;
                }
            }

        }
    }
}