$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #6F6F6F,
        spanred:#FF7A00,
        orange:#FF8A00,
    ),
    grey: (
        1:#727070,
    ),
    text: (
        body:#171151,
        1:#A9B7D1,
        2:#8A879F,
        3: #e9f9f7,
    ),
    theme: (
        primary: #171151,
        secondary: #0aa57c,
        blue:#00D1FF,
        pink: #FF3D00,
        yellow: #FAFF00,
    ),
    border: (
        primary: #ECEEF3,
        secondary:#D1D6E0,
    ),
    icon:(
        blue:#0E63FF,
        blue-light:#E7efFF,
        green: #10D0A1,
        green-light: #E7FAF6,
        pink: #F72A75,
        pink-light: #FEEAf1,
        sky: #42BFFF,
        sky-light: #ECF9FF,
        red:#FF0000,
        tweet:#1DA1F2,
        fb:#4267B2,
        skype:#00A6E4,
    )
);
