
    // css-clip-path
  
    @mixin bg-color($color, $opacity) {
        background-color: rgba($color, $opacity);
    }

    // placeholder input
    @mixin tp-placeholder {
        &::-webkit-input-placeholder {
            @content;
        }
        &:-moz-placeholder {
            @content;
        }
        &::-moz-placeholder {
            @content;
        }
        &:-ms-input-placeholder {
            @content;
        }
    }

    // filter 
    @mixin filter($value) {
        -webkit-filter: $value;
            filter: $value;
    }

    // appearance for select
    @mixin appearance($value) {
        -webkit-appearance: $value;
            -moz-appearance: $value;
            -ms-appearance: $value;
            -o-appearance: $value;
            appearance: $value;
    }
    
    // keyframes 
    @mixin keyframes($name) {
        @-webkit-keyframes #{$name} {
            @content; 
        }
        @-moz-keyframes #{$name} {
            @content;
        }
        @-ms-keyframes #{$name} {
            @content;
        }
        @keyframes #{$name} {
            @content;
        } 
    }

    //backgroud 
    @mixin background {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
      
    //transition
    @mixin transition($time) {
        -webkit-transition: all $time ease-out 0s;
        -moz-transition: all $time ease-out 0s;
        -ms-transition: all $time ease-out 0s;
        -o-transition: all $time ease-out 0s;
        transition: all $time ease-out 0s;
    }
    
    // transform
    @mixin transform($transforms) {
        -webkit-transform: $transforms;
        -moz-transform: $transforms;
        -ms-transform: $transforms;
        -o-transform: $transforms;
        transform: $transforms;
    }
    
    //border
    @mixin border-radius($man) {
    -webkit-border-radius: $man;
    -moz-border-radius: $man;
    -o-border-radius: $man;
    -ms-border-radius: $man;
    border-radius: $man;
    }
    
    // sentence case
    @mixin sentence-case() {
        text-transform: lowercase;
        &:first-letter {
            text-transform: uppercase;
        }
    }

    // Flexbox display
    @mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    }
    
    // Box shadows
    @mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;       
        -ms-box-shadow: $shadow;       
        -o-box-shadow: $shadow;       
            box-shadow: $shadow;
    }
    @mixin btn-perposel(){
        background: linear-gradient(90deg, #EE0202 0%, #EE9002 100%);
        @include border-radius(5px);
        font-size: var(--tp-fz-p);
        padding:  0.938rem 1.375rem;
        line-height: 100%;
        display: inline-block;
        color: var(--tp-common-white);
        text-transform: uppercase;
        text-decoration: none;
        transition: background-color 1s ease;
        &:hover{
           
            background: linear-gradient(90deg, #EE9002  0%, #EE0202 100%);
        }
    }
    @mixin request-btn(){
        font-size: var(--tp-fz-h3);
        padding:  1.25rem 2.563rem;
        line-height: 100%;
        display: inline-block;
        color: var(--tp-common-black);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: var(--tp-fw-bold);
        position: relative;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        border: 2px solid #00A3FF; 
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #00A3FF, #20009E);
        @include transition(0.5s);
        &::after{
            content: "";
            pointer-events: none;
            display: block;
            position: absolute;
            z-index: 0;
            border: 3px solid;
                border-image-source: none;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, #00A3FF, #20009E);
            left: -5px;
            top: -5px;
            right: -5px;
            bottom: -5px;
            -webkit-filter: blur(2px);
            filter: blur(2px);
            opacity: 0;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
        }
        &:hover{
           &::after{
            opacity: .8;
           }
        }
    }